body{
    background-color: #00ADB5;
}
.main{
    margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
width:65%;
height: 85vh;
background-image: url(/Assets/Background_img_login.png);
background-repeat: no-repeat;
background-size: 100% 100%;
margin-top: 40px;


}
img{
width: 70%;

margin-left: 30px;
margin-bottom: 130px;

}
#login{
margin-top: 500px;

}
.form-div {
margin-right:240px ;
width: 70%;
}

.form-div form{
    width: 100%;
    text-align: center;
}
input{
    background-color: #fff;
    padding: 18px;
    width: 100%;
    border-radius: 5px;
    display: block;
    margin: 30px 0;
    border: none;
}
input:focus{
   outline: none;
}

#login-button{
    border: none;
    background-color: #00ADB5;
    padding: 15px 30px;
    border-radius: 10px;
    /* margin-right: 120px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 46px;
    text-align: left;
    font-weight: bold;
    color: #fff;
}
#forgot ,a{
    font-size: 15px;
    text-align: right;
    
}
#sigin{
position: absolute;
top: 395px;
left: 35px;
border: none;
background-color: #00ADB5;
padding: 12px 30px;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.part1{
    position: relative;
}