body{
    background-color: #222831;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* for search bar */
#box1,input[type="text"]{
    padding: 12px;
    margin-top: 12px;
    border: none;
    
    color: #222831;
    background-color: #222831;
    border-bottom: 2px solid lightblue;
}
#box1,input[type="text"]:hover{
    background-color: #222831;
    color: #fff;
    border: none;
}
.sidenav img{
    margin-right: 20px;
}
#sidenav {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-color: #507687;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    position: fixed;
    left: 0;
}
/* Div header */
#sidenav h2 {
    padding: 40px 0 0 0;
    cursor: pointer;
    margin-bottom: 50px;
   
}
/* Div links */
#sidenav a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 24px;
    padding-left: 40px;
    text-decoration: none;
    outline: none;
    font-weight: bolder;
    font-size: 20px;
    margin: 30px 0px 0px 30px;
    padding: 18px 18px 18px 30px;
}
#sidenav #managment{
    
    color: #00ADB5;
    }
/* Div link on hover */
#sidenav a:hover {
   
    background: #fff;
    position: relative;
    background-color: #222831;
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;
}
#sidenav .logout{
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color:#fff ;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 60px;
    color: #222831;
}
.boc_main{
   display: flex;   
}
.dash-box{
   margin:20px 0;
    display: flex;
    gap: 20px;

}
.sidenav {
    grid-area: nav;
}

.box_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 350px;
}

.main {
    display: grid;
    grid-template-areas: 'nav  box box box';
}
.box1,.head,.dash-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border: 2px solid red; */

}
.box1 .head h2{
    color: #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #507687;
    border-radius: 36px;
    padding: 20px 80px 20px 60px;
}
.img{
    background-color: #fff;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    i{
        color: #484a4a;
        font-size: 40px;
    }
}
.graph-div{
    display: flex;
    justify-content: space-between;
     align-content: center;
     .garph{
        height: 400px;
    }
}

.bar-digrm,.pie-digrm{
    background-color: #507687;
    border-radius: 36px;
    padding: 20px;

}
canvas{
    height: 300px;
}
.user-tbl{
    margin-top: 15px;
    border-radius: 36px;
    padding: 20px 30px;
    background-color: #507687;
    
}
.user-tbl table {
    margin: auto;
    /* margin: 10px; */
    padding: 8px;
    border-radius: 36px;
    border-collapse: collapse;
    width: 100%;
}
.user-tbl tbody  td{
    background-color: #00ADB5;
    padding: 12px;
}
.user-tbl tbody td button{
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
}
.user-tbl table,thead,tbody,tr,th,td{
    border: none;
}
.user-tbl table tbody tr{
    border-bottom: 2px solid #dcd8d857;
}
.sidenav a:hover span::before, .sidenav a:hover span::after{
    content: "";
position: absolute;
width: 10px;
height: 10px;
background-color: #507687;
right: 0;
}
.sidenav a:hover span::after{
right: 0px;
top: -10px;
border-bottom-right-radius: 300px;
box-shadow: 3px 3px 0px 3px #222831;
}
.sidenav a:hover span::before{
right: 0px;
bottom: -10px;
border-top-right-radius: 300px;
box-shadow: 3px -3px 0px 3px #222831;
}
/* .sidenav a:active span::after,.sidenav a:active span::before{
        content: "";
position: absolute;
width: 10px;
height: 10px;
background-color: #507687;
right: 0;
}
.sidenav a:active span::after{
    right: 0px;
    top: -10px;
    border-bottom-right-radius: 300px;
    box-shadow: 3px 3px 0px 3px #222831;
    }
    .sidenav a:active  span::before{
        right: 0px;
        bottom: -10px;
        border-top-right-radius: 300px;
        box-shadow: 3px -3px 0px 3px #222831;
        }
     */