body{
    background-color: #00ADB5;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* main container */
.main{
    display: flex;
    max-width: 700px;
    background-color: beige;
    flex-direction: row;
    justify-content: center;
  align-items: center;
    margin: 0 auto;
    min-height: 300px;
    min-width: 500px;
}
/* first container */
.container_one{
    
}