{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PP</title>
    <!-- fontawesome cdn -->
    
    <link rel="stylesheet" href="{% static 'css/About_style.css' %}">
    <link rel="js" href="">
   
</head>

<body>
    <div class="main">
        <div class="sidenav" id="sidenav">
            <!-- Div Header-->
            <h2><img src="{% static 'assets/admin_profile_icon.png' %}" alt="">anjal</h2>
            <!-- Links in Div -->
            <a href="/Management_home" ><span><img src="{% static 'assets/Admin_managment_icon.png' %}" alt="">Managment</span> </a>
            <a href="/Monitoring" > <span><img src="{% static 'assets/Admin_monitoring_icon.png' %}" alt="">Monitoring</span> </a>
            <a href="/Support" ><span > <img src="{% static 'assets/Admin_support_icon.png' %}" alt="">Support</span></a>
            <a href="/About" id="managment"> <span><img src="{% static 'assets/Admin_about_icon.png' %}" alt="">About</span> </a>
            <a href="/settings"><span><img src="{% static 'assets/Admin_settings_icon.png' %}" alt="">Settings</a>
            <button class="logout" href=""><span>Logout</span></button>
        </div>
        <div class="box_main">

              <!-- content here -->

   
            <div class="box_main_heading">
                <div class="box_main_heading_h1"><h1>About us</h1></div>
                <!-- <div class="box_main_heading_h1"><h1><button>+ new user</button></h1></div> -->
            </div>
            <div class="box_main_users">
               <h3>Pocket Planner is a smart and intuitive expense tracker designed to simplify the way you manage your finances. Whether you're budgeting for daily expenses, planning for a trip, or keeping track of monthly bills, Pocket Planner empowers you to take control of your money effortlessly.
            </h3>
               <hr>
               <br>
               <h2>Key features</h2>
               <br>
                <ul>
                     <li>Expense Tracking: Log your expenses and categorize them for better clarity.
                    </li>
                     <li>Budget Planning: Set spending limits and stay on track with real-time insights.
                    </li>
                     <li>Custom Categories: Personalize categories to suit your unique lifestyle.
                    </li>
                     <li>Analytics & Reports: Visualize your spending habits with detailed charts and summaries.</li>
                     <li>Secure & Private: Your data is protected with robust security measures.
                    </li>
                    <li>User-Friendly Interface: Clean, minimal, and easy to use for everyone.
                    </li>
                </ul>
                <br>
                <p><i>With Pocket Planner, managing your finances has never been so simple. Take charge of your financial future and plan smarter today!</i></p>
                <br>
               <img src="#" alt="anjal">
               <img src="#" alt="niranjan">
            </div>
            <!-- content end here  -->
        </div>  
</body>

</html>